shamefully-hoist=true
strict-peer-dependencies=false

@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=REPLACE_WITH_AUTH_TOKEN
```
